footer {
   margin-top: 545px;
    .footer-content {
        display: grid;
        grid-template-columns: auto auto;
        max-width: 1200px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 20px;
        @include breakpoint (lg) {
            gap: 50px;
        }
        @include breakpoint (ft) {
            grid-template-columns: auto;
            justify-content: center;
            text-align: center;
        }
        .footer-links {
            .contact {
                display: block;
                margin-bottom: 6px;
            }
            p {
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                color: $white-color;
                margin-bottom: 6px;
            }
            a {
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                color: $white-color;
            }
        }
    }
    .license {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        color: $white-color;
        text-align: center;
        margin-top: 50px;
    }
}